<div id="viewlptop"></div>
<div class="content-container" ng-controller="EODController">
  <script type="text/ng-template" id="success.html">
    <div class="modal-header silver" style="text-align:center; border:none" >
        <h3 class="bolder">Operation Successful</h3>
    </div>
    <div class="modal-footer silver" style="text-align:center; border:none">
        <button class="btn btn-primary" ng-click="cancel()">Okay</button>
    </div>
  </script>
  <ul class="breadcrumb">
    <li>
      <a href="#/accounting">{{'label.anchor.accounting' | translate}}</a>
    </li>
    <li class="active">{{'EOD' | translate}}</li>
  </ul>
  <div class="card">
    <div class="content">
      <api-validate></api-validate>
      <div class="toolbar">
        <h4>{{'Run EOD' | translate}}</h4>
        <div class="pull-right">
          <!-- <a
            href="#/book-contract"
            class="btn btn-primary"
            has-permission="CREATE_GLACCOUNT"
            ><i class="fa fa-plus"></i>&nbsp;&nbsp;{{'Book Contract' |
            translate}}</a
          > -->
        </div>
      </div>
      <div ng-hide="isTreeView">
        <br />
        <div
          class=""
          style="
            display: grid;
            grid-template-columns: repeat(5, minmax(180px, 1fr));
            gap: 20px;
          "
        >
          <div class="">
            <input
              class="date-disable form-control"
              id="eODDate"
              type="text"
              datepicker-pop="dd MMMM yyyy"
              ng-model="formData.eODDate"
              is-open="opened"
              min="'2000-01-01'"
              max="restrictDate"
              placeholder="{{'EOD Date' | translate}}"
            />
          </div>

          <div class="">
            <select
              chosen="activityCodes"
              id="tranType"
              ng-model="formData.activityCode"
              class="form-control"
              ng-options="activityCode.code as activityCode.name for activityCode in activityCodes"
              value="{{activityCode.code}}"
            >
              <option class="displaynone" value="">
                {{'Activity Code' | translate}}
              </option>
            </select>
          </div>
          <div class="" style="margin-left: 16px">
            <input
              class="date-disable form-control"
              id="remarks"
              type="text"
              ng-model="formData.remarks"
              placeholder="{{'Remarks' | translate}}"
            />
          </div>
          <button
            class="btn btn-block btn-primary"
            type="submit"
            data-ng-click="onRun()"
            id="contract-filter-button"
            style="margin-left: 20px"
            data-ng-disabled="!formData.activityCode || !formData.eODDate"
          >
            Run
          </button>
        </div>
      </div>
    </div>
  </div>
  <br /><br />
  <div class="card">
    <div class="content">
      <api-validate></api-validate>
      <div class="toolbar">
        <h4>{{'Fetch EOD' | translate}}</h4>
      </div>
      <div ng-hide="isTreeView">
        <br />
        <div
          class=""
          style="
            display: grid;
            grid-template-columns: repeat(5, minmax(180px, 1fr));
            gap: 20px;
          "
        >
          <div class="">
            <input
              class="date-disable form-control"
              id="startDate"
              type="text"
              datepicker-pop="dd MMMM yyyy"
              ng-model="formData.startTime"
              is-open="opened"
              min="'2000-01-01'"
              max="restrictDate"
              placeholder="{{'Start Date' | translate}}"
            />
          </div>
          <div class="">
            <input
              class="date-disable form-control"
              id="endDate"
              type="text"
              datepicker-pop="dd MMMM yyyy"
              ng-model="formData.endTime"
              is-open="opened"
              min="'2000-01-01'"
              max="restrictDate"
              placeholder="{{'End Date' | translate}}"
            />
          </div>
          <div class="">
            <select
              chosen="activityCodes"
              id="tranType"
              ng-model="formData.activityCode"
              class="form-control"
              ng-options="activityCode.code as activityCode.name for activityCode in activityCodes"
              value="{{activityCode.code}}"
            >
              <option class="displaynone" value="">
                {{'Activity Code' | translate}}
              </option>
            </select>
          </div>

          <button
            class="btn btn-block btn-primary"
            type="submit"
            data-ng-click="onFilter()"
            id="contract-filter-button"
            style="margin-left: 20px"
            data-ng-disabled="!formData.activityCode || !formData.startTime || !formData.endTime"
          >
            Fetch
          </button>
        </div>

        <!-- <div class="col-sm-3 paddedbottom10">
          <label for="startDate">Start Date</label>
          <input
            id="startDate"
            type="text"
            name="startDate"
            datepicker-pop="dd MMMM yyyy"
            class="form-control"
            ng-model="formData.startDate"
            is-open="opened"
            min="'2000-01-01'"
            max="restrictDate"
            pl
          />
        </div> -->
        <br />
        <table class="table">
          <thead>
            <tr class="graybg">
              <th>{{'EOD Date' | translate}}</th>
              <th>{{'Contract Type' | translate}}</th>
              <th>{{'label.input.status' | translate}}</th>
              <th>{{'Remark' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="pointer-main"
              dir-paginate="coadata in coadatas | orderBy:['type.value','glCode']| SearchFilter:filterText |  itemsPerPage: ChartsPerPage"
              total-items="totalEod"
              pagination-id="eod"
            >
              <td class="pointer">{{coadata.eoddate}}</td>
              <td class="pointer">{{coadata.activityCode}}</td>
              <td class="pointer">{{coadata.status}}</td>
              <td class="pointer">{{coadata.remarks}}</td>
            </tr>
          </tbody>
          <tr>
            <td colspan="5"></td>
            <td class="pull-right">
              <a ng-click="scrollto('viewlptop')"
                ><i class="fa fa-upload"></i>{{'label.button.top' |
                translate}}</a
              >
            </td>
          </tr>
        </table>
        <dir-pagination-controls
          boundary-links="true"
          template-url="bower_components/angular-utils-pagination/dirPagination.tpl.html"
          on-page-change="getResultsPage(newPageNumber)"
          pagination-id="eod"
        ></dir-pagination-controls>
      </div>

      <br />
      <br />
      <br /><br /><br /><br /><br /><br />
    </div>
  </div>
</div>
