<div id="viewlptop"></div>
<div class="content-container" ng-controller="TransMasterController">
  <ul class="breadcrumb">
    <li>
      <a href="#/accounting">{{'label.anchor.accounting' | translate}}</a>
    </li>
    <li class="active">{{'Trans. Master' | translate}}</li>
  </ul>

  <div class="card">
    <div class="content">
      <api-validate></api-validate>
      <div class="toolbar">
        <h4>{{'Trans. Master' | translate}}</h4>
        <div class="pull-right">
          <!-- <a
            href="#/book-contract"
            class="btn btn-primary"
            has-permission="CREATE_GLACCOUNT"
            ><i class="fa fa-plus"></i>&nbsp;&nbsp;{{'Book Contract' |
            translate}}</a
          > -->
        </div>
      </div>
      <div ng-hide="isTreeView">
        <h4>Filter Transactions</h4>
        <div
          class=""
          style="
            display: grid;
            grid-template-columns: repeat(5, minmax(120px, 200px));
            gap: 10px;
          "
        >
          <div class="">
            <input
              class="date-disable form-control"
              id="startDate"
              type="text"
              datepicker-pop="dd MMMM yyyy"
              ng-model="formData.startDate"
              is-open="opened"
              min="'2000-01-01'"
              max="restrictDate"
              placeholder="{{'Start Date' | translate}}"
            />
          </div>
          <div class="">
            <input
              class="date-disable form-control"
              id="endDate"
              type="text"
              datepicker-pop="dd MMMM yyyy"
              ng-model="formData.endDate"
              is-open="opened"
              min="'2000-01-01'"
              max="restrictDate"
              placeholder="{{'End Date' | translate}}"
            />
          </div>

          <div class="">
            <select
              chosen="accountTypes"
              id="tranType"
              ng-model="formData.accountType"
              class="form-control"
              ng-options="accountType.code as accountType.name for accountType in accountTypes"
              value="{{accountType.code}}"
            >
              <option class="displaynone" value="">
                {{'Account Type' | translate}}
              </option>
            </select>
          </div>
          <div class="">
            <input
              style="margin-left: 20px"
              data-ng-hide="formData.accountType=='GL'"
              type="text"
              class="date-disable form-control"
              id="accountNo"
              type="text"
              ng-model="formData.accountNo"
              placeholder="{{'accountNo' | translate}}"
            />
          </div>

          <button
            class="btn btn-block btn-primary"
            type="submit"
            data-ng-click="onFilter()"
            id="contract-filter-button"
            style="margin-left: 20px"
          >
            Filter
          </button>
        </div>

        <!-- <div class="col-sm-3 paddedbottom10">
          <label for="startDate">Start Date</label>
          <input
            id="startDate"
            type="text"
            name="startDate"
            datepicker-pop="dd MMMM yyyy"
            class="form-control"
            ng-model="formData.startDate"
            is-open="opened"
            min="'2000-01-01'"
            max="restrictDate"
            pl
          />
        </div> -->
        <br />
        <table class="table">
          <thead>
            <tr class="graybg">
              <th>{{'Id' | translate}}</th>
              <th>{{'GL Code' | translate}}</th>
              <th>{{'Name' | translate}}</th>
              <th>{{'Desc' | translate}}</th>

              <th>{{'Status' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="pointer-main"
              dir-paginate="coadata in coadatas | orderBy:['type.value','glCode']| SearchFilter:filterText |  itemsPerPage: ChartsPerPage"
              total-items="totalContracts"
              pagination-id="transs"
            >
              <td class="pointer">{{coadata.id}}</td>
              <td class="pointer">{{coadata.glCode}}</td>
              <td class="pointer">{{coadata.name}}</td>
              <td class="pointer">{{coadata.description}}</td>
              <td class="pointer">{{coadata.disabled?"Disabled":"Enabled"}}</td>
            </tr>
          </tbody>
          <tr>
            <td colspan="5"></td>
            <td class="pull-right">
              <a ng-click="scrollto('viewlptop')"
                ><i class="fa fa-upload"></i>{{'label.button.top' |
                translate}}</a
              >
            </td>
          </tr>
        </table>
        <dir-pagination-controls
          boundary-links="true"
          template-url="bower_components/angular-utils-pagination/dirPagination.tpl.html"
          on-page-change="getResultsPage(newPageNumber)"
          pagination-id="transs"
        ></dir-pagination-controls>
      </div>

      <br />
      <br />
      <br /><br /><br /><br /><br /><br />
    </div>
  </div>
</div>
