<div
  class="col-md-12"
  ng-controller="BulkImportTellerController"
  ng-init="refreshImportTable()"
>
  <script type="text/ng-template" id="success.html">
    <div class="modal-header silver" style="text-align:center; border:none" >
        <h3 class="bolder">{{responseMessage||"Operation Successful"}}</h3>
        <p></p>
        {{scope.responseMessage}}
    </div>
    <div class="modal-footer silver" style="text-align:center; border:none">
        <button class="btn btn-primary" ng-click="cancel()">Okay</button>
    </div>
  </script>
  <ul class="breadcrumb">
    <li>
      <a href="#/bulkimport">{{'label.anchor.bulkimport' | translate}}</a>
    </li>
    <li class="active">{{'File Upload' | translate}}</li>
  </ul>
  <api-validate ng-click="close()"></api-validate>

  <div class="panel panel-default">
    <div class="panel-heading" style="display: flex">
      <h3 class="panel-title">{{'Bulk File Upload' | translate}}</h3>
      <form
        class="form-inline"
        style="max-width: 300px; margin-left: auto; display: flex; gap: 10px"
      >
        <input
          class="date-disable form-control"
          id="batchNo"
          type="text"
          ng-model="batchNo"
          placeholder="{{'Batch No' | translate}}"
          required
        />

        <button
          style="width: 100%; max-width: 200px; margin-right: auto"
          type="button"
          class="form-control btn btn-default col-sm-2"
          ng-click="validateStatus()"
        >
          {{'Check Status' | translate}}
        </button>
      </form>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <form
          class="form-inline"
          style="max-width: 500px; margin-inline: auto; padding-block: 14px"
        >
          <div
            class=""
            style="
              display: grid;
              grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
              gap: 40px;
              row-gap: 20px;
            "
          >
            <input
              class="date-disable form-control"
              id="tranDate"
              type="text"
              datepicker-pop="dd MMMM yyyy"
              ng-model="formData.tranDate"
              is-open="opened"
              min="'2000-01-01'"
              max="restrictDate"
              placeholder="{{'Trans. Date' | translate}}"
            />
            <input
              class="date-disable form-control"
              id="desc"
              type="text"
              ng-model="formData.desc"
              placeholder="{{'Batch No' | translate}}"
            />
            <select
              chosen="names"
              id="name"
              ng-model="formData.name"
              class="form-control"
              ng-options="name.code as name.name for name in names"
              value="{{name.code}}"
            >
              <option class="displaynone" value="">
                {{'Name' | translate}}
              </option>
            </select>

            <input
              type="file"
              id="file"
              accept=".xls,.xlsx,.csv"
              class="form-control btn btn-default"
              ngf-select="onFileSelect($files)"
            />
            <div class="">
              <input
                type="checkbox"
                id="allowOveride"
                class=""
                ng-model="formData.allowOveride"
                placeholder="{{'Batch No' | translate}}"
              />
              <span>Allow Override</span>
            </div>
          </div>
          <div
            class=""
            style="
              margin-top: 20px;
              display: flex;
              justify-content: space-between;
            "
          >
            <button
              style="
                display: block;
                width: 100%;
                max-width: 200px;
                margin-right: auto;
              "
              type="button"
              class="form-control btn btn-default col-sm-2"
              ng-click="upload(true)"
            >
              {{'Validate File' | translate}}
            </button>
            <button
              style="
                display: block;
                width: 100%;
                max-width: 200px;
                margin-right: auto;
              "
              type="button"
              class="form-control btn btn-primary col-sm-2"
              ng-click="upload()"
            >
              {{'label.button.upload' | translate}}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <table class="table">
      <thead>
        <tr class="graybg panel-heading">
          <th>{{'Account Name' | translate}}</th>
          <th>{{'Acc/GL No' | translate}}</th>
          <th>{{'Account Type' | translate}}</th>
          <th>{{'Credit' | translate}}</th>

          <th>{{'Debit' | translate}}</th>
          <th>{{'Available Balance' | translate}}</th>
          <th>{{'Status' | translate}}</th>
          <th>{{'Comment' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="pointer-main"
          dir-paginate="coadata in coadatas | orderBy:['type.value','glCode']| SearchFilter:filterText |  itemsPerPage: ChartsPerPage"
          total-items="totalContracts"
          pagination-id="bulk-upload"
        >
          <td class="pointer">{{coadata?.accountName}}</td>
          <td class="pointer">{{coadata?.accountNo}}</td>
          <td class="pointer">{{coadata?.accountType}}</td>
          <td class="pointer">{{coadata?.credit?.toLocaleString()}}</td>
          <td class="pointer">{{coadata?.debit?.toLocaleString()}}</td>
          <td class="pointer">
            {{coadata?.availableBalance?.toLocaleString()}}
          </td>
          <td class="pointer">{{coadata?.status}}</td>
          <td class="pointer">{{coadata?.comment}}</td>
        </tr>
      </tbody>
      <tr>
        <td colspan="5"></td>
        <td class="pull-right">
          <a ng-click="scrollto('viewlptop')"
            ><i class="fa fa-upload"></i>{{'label.button.top' | translate}}</a
          >
        </td>
      </tr>
    </table>
    <dir-pagination-controls
      boundary-links="true"
      template-url="bower_components/angular-utils-pagination/dirPagination.tpl.html"
      on-page-change="getResultsPage(newPageNumber)"
      pagination-id="bulk-upload"
    ></dir-pagination-controls>
  </div>
  <div class="panel panel-default" ng-show="response">
    <div class="panel-heading">
      <h3 class="panel-title">{{'Response' | translate}}</h3>
    </div>
    <div class="panel-body">{{response}}</div>
  </div>

  <div class="clearfix"></div>
</div>
